.btn-colorful {
    background-image: url('/portfolio/img/headers/bluePurple.png');
    background-size: cover;    
    background-position: center;
    background-repeat: no-repeat;
    color: white;                
    border: none;                
    padding: 1rem 2rem;          
}

/* Hover effect */
.btn-colorful:hover {
  filter: brightness(85%); /* darken image slightly */
  transform: scale(1.01);  /* slight zoom on hover */
}